#strings
SALAI_TOKEN="Token of the Account from which you paid MidJourney"
SERVER_ID="Server id here"
CHANNEL_ID="Channel in which commands are sent"
NEXT_PUBLIC_IMAGE_PREFIX="/"
HUGGINGFACE_TOKEN="huggingface token here https://huggingface.co/docs/hub/security-tokens" 
WS=true

#strings
SALAI_TOKEN="MTA0NDQyNTk1MzQzNjI1MDE5OQ.GFngD7.yXcClAH9N9P4wOeoho1WDqHbtg_PlzZeT8qCcw"
SERVER_ID="1120974939651059784"
CHANNEL_ID="1120974940217278487"
NEXT_PUBLIC_IMAGE_PREFIX="/"
HUGGINGFACE_TOKEN="huggingface token here https://huggingface.co/docs/hub/security-tokens" 
WS=true